.App {
  text-align: center;
  background-color: #282c34;
}

html, body, .home, .homepage>div {
  height: 100%
}

.homepage {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.text-link {
  color: white;
  text-decoration: none;
}
.text-link:hover{
  color: gray;
}

.text-link1 {
  color: white;
  text-decoration:wavy
}
.text-link1:hover{
  color: gray;
}

.header {
  font-size: small;
  text-decoration: none;
  width: 100vw;
  height: 7vh;
  background-color: #454140;
  display: flex;
  border-bottom: 5px solid #a79e84;
  justify-content:space-between;
  align-items: center;
}

.input-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}