.App {
  text-align: center;
  background-color: #282c34;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

html, body, .home, .homepage>div {
  height: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.introduction {
  border-bottom: 5px solid #595959;
  display: flex;
  flex-direction: row;
  background-color: beige;
  padding-bottom: 0.7vh;
}

.summary {
  padding-left: 4vh;
  text-align: justify;
  color: black;
  padding-right: 4vh;
  font-size: small;
}

.summary > h3 {
  font-size: large;
  padding: 0%;
  color: #595959;
  margin: 0%;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.experiences {
  padding-left: 4vh;
  text-align: justify;
  padding-right: 4vh;
  font-size: small;
  color: black;
}

.experiences > h3 {
  font-size: large;
  padding: 0%;
  margin: 0%;
  color: #595959;
  margin-top: 1vh;
  margin-bottom: -10px;
}

.title {
  text-align: left;
  margin-left: 2vh;
}

.photo1 {
  height: 150px;
  margin-left: 2vh;
  width: 150px;
  margin-top: 25px;
}

.resumeTitle1 {
  color: #808080;
}

.description1 {
  padding-top: 5px;
  padding-bottom: 10px;
}

.interval1 {
  font-size: large;
  margin-top: -20px;
  margin-bottom: -20px;
}

.role1{
  font-size: large;
  margin-left: -13px;
}

.employer1 {
  font-size: large;
  margin-top: -20px;
}

.listexperiences1 {
  list-style-type: none;
  color: black;
  margin-left: -20px;
  margin-bottom: -30px;
}

.name1 {
  color: #595959;
  margin-top: -35px;
}

.homepage {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.text-link {
  color: white;
  text-decoration: none;
}
.text-link:hover{
  color: gray;
}

.text-link1 {
  color: white;
  text-decoration:wavy
}
.text-link1:hover{
  color: gray;
}

.header {
  font-size: small;
  text-decoration: none;
  width: 100vw;
  height: 7vh;
  background-color: #454140;
  display: flex;
  border-bottom: 5px solid #a79e84;
  justify-content:space-between;
  align-items: center;
}

.input-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}