.App {
  text-align: center;
  background-color: #282c34;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

@font-face {
  font-family: "DejaVu Sans";
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-weight: bold;
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-style: italic;
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-weight: bold;
  font-style: italic;
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

html, body, .home, .homepage>div {
  height: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.introduction {
  border-bottom: 5px solid #595959;
  display: flex;
  flex-direction: row;
  background-color: beige;
  padding-bottom: 0.7vh;
}

.summary {
  padding-left: 4vh;
  text-align: justify;
  color: black;
  padding-right: 4vh;
  font-size: small;
}

.removeProjects {
  margin-bottom: 1vh;
}

.addProjects {
  margin-bottom: 1vh;
}

.textarea {
  width: 300px;
  height: 200px;
}

.summary > h3 {
  font-size: large;
  padding: 0%;
  color: #595959;
  margin: 0%;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.experiences {
  padding-left: 4vh;
  text-align: justify;
  padding-right: 4vh;
  font-size: small;
  color: black;
}

.projects {
  padding-left: 4vh;
  text-align: justify;
  padding-right: 4vh;
  font-size: small;
  color: black;
  white-space: pre-line;
}

.projects > h3 {
  font-size: large;
  padding: 0%;
  margin: 0%;
  color: #595959;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.experiences > h3 {
  font-size: large;
  padding: 0%;
  margin: 0%;
  color: #595959;
  margin-top: 1vh;
  margin-bottom: -10px;
}

.title {
  text-align: left;
  margin-left: 2vh;
}

.photo1 {
  height: 150px;
  margin-left: 2vh;
  width: 150px;
  margin-top: 25px;
}

.resumeTitle1 {
  color: #808080;
}

.description1 {
  padding-top: 5px;
  padding-bottom: 10px;
}

.interval1 {
  font-size: large;
  margin-top: -20px;
  margin-bottom: -20px;
}

.role1{
  font-size: large;
  margin-left: -13px;
}

.employer1 {
  font-size: large;
  margin-top: -20px;
}

.listexperiences1 {
  list-style-type: none;
  color: black;
  margin-left: -20px;
  margin-bottom: -30px;
}

.name1 {
  color: #595959;
  margin-top: -35px;
}

.introduction2 {
  background-color: rgb(86, 74, 154);
  height: 100%;
  
}

.photo2 {
  width: 150px;
  padding: 10%;
}

.title2 {
  height: 15px;
  color: black;
  font-family: "DejaVu Sans", "Georgia", serif;
}

.firstName2 {
  font-size: 20px;
}

.lastName2 {
  font-size: 30px;
}

.summary2, .experiences2, .projects2 {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}


.summary2 > p, .experiences2 > p, .projects2 > p { 
  font-size: 15px;
}


.listexperiences2 > h4 {
  margin-bottom: 10px;
  margin-top: -7px;
}

.listexperiences2 {
  list-style-type: none;
  margin-left: -40px;
  margin-bottom: -20px;
}

.interval2{
  font-size: 10px;
  color: rgb(132, 132, 131);
  font-family: "DejaVu Sans", "Verdana", serif;

}

.homepage {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.text-link {
  color: white;
  text-decoration: none;
}
.text-link:hover{
  color: gray;
}

.text-link1 {
  color: white;
  text-decoration:wavy
}
.text-link1:hover{
  color: gray;
}

.header {
  font-size: small;
  text-decoration: none;
  width: 100vw;
  height: 7vh;
  background-color: #454140;
  display: flex;
  border-bottom: 5px solid #a79e84;
  justify-content:space-between;
  align-items: center;
}

.input-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.left {
  width: 30%;
  float: left;
}

.right {
  width: 70%;
  float: right;
  background-color: rgb(246, 246, 241);
  color: black;
  font-family: "Georgia", serif;
}

.container3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.photo3 {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 10px solid #390638;
	box-shadow: 6px 7px 9px 5px #5A0B57;
  margin-bottom: 20px;
	margin-left: 60px;
}

.name3 {
  padding: 80px 0px 60px 55px;
	text-align: center;
	letter-spacing: 1px;
  margin-top: -20px;
  color: #000000;
}

.resumeBox{
	position: relative;
}

.heading{
	background-color: #CCFDE8;
	padding: 1px;
	color: #390638;
  font-weight: bold;
}


.experiences3 {
  padding-left: 4vh;
  text-align: justify;
  color: black;
  padding-right: 4vh;
  font-size: small;
}

.summary3 {
  padding-left: 4vh;
  text-align: justify;
  color: black;
  padding-right: 4vh;
  font-size: small;
  margin-top: -30px;
}

.projects3 {
  padding-left: 4vh;
  text-align: justify;
  color: black;
  padding-right: 4vh;
  font-size: small;
}

.summary3 > h3 , .experiences3 > h3, .projects3 > h3{
  font-size: large;
  padding: 0%;
  color: #390638;
  margin: 0%;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}
.left3{
	background-color: #390638;
	width: 200px;
	height: 100%;
	float: left;
}

.right3{
	width: 450px;
	float: left;
}

.roleEmployer3{
  font-size: small;
  color: rgb(43, 4, 35);
}

.interval3 {
  font-size: smaller;
  color: rgb(198, 75, 173);
}

.description3{
  color: black;
  font-size: small;
}

.listexperiences3 {
  padding: 0;
}

.listexperiences3 > h4 {
  margin-bottom: 1px;
  margin-top: -1px;
}